.menu-item-box {
  width: 99%;
  margin: 2px 0.5%;
  padding: 2px 1px;
  line-height: 25px;
  text-align: center;
  box-sizing: border-box;
  &:hover {
    background: #374ed4;
    cursor: pointer;
    color: #fff;
  }
}







