* {
  margin: 0;
  padding: 0;
}

.EffieWebVer {
  display: flex;
  align-items: center;
  justify-items: center;
  height: 100vh;
}

.empty-state {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  height: 100%;
  opacity: 0.3;
  font-size: 14px;
}

html {
  overflow-x: auto;
}

body, dl, dt, dd, ul, ol, li, pre, form, fieldset, input, p, blockquote, th, td {
  font-weight: 400;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h4, h5 {
  margin: 0;
  padding: 0;
}

body {
  background-color: #FFFFFF;
  color: #666666;
  font-family: Helvetica,Arial,sans-serif;
  font-size: 12px;
  text-align: left;
}

select {
  font-size: 12px;
}

table {
  border-collapse: collapse;
}

fieldset, img {
  border: 0 none;
}

fieldset {
  margin: 0;
  padding: 0;
}

fieldset p {
  margin: 0;
  padding: 0 0 0 8px;
}

legend {
  display: none;
}

address, caption, em, strong, th, i {
  font-style: normal;
  font-weight: 400;
}

table caption {
  margin-left: -1px;
}

hr {
  border-bottom: 1px solid #FFFFFF;
  border-top: 1px solid #E4E4E4;
  border-width: 1px 0;
  clear: both;
  height: 2px;
  margin: 5px 0;
  overflow: hidden;
}

ol, ul {
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
}

caption, th {
  text-align: left;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: '';
}


/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
  width: 5px;
  height: 10px;
  cursor: default;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
  border-radius: 10px;
}


// 夜间模式
.EffieWebVer-dark {
  .sidenavbar {
    background: #333333;
    color: #fff;
    .sidenavbar-top-create-notes {
      color: #fff;
      .create-note-btn {
        &:hover {
          background: #484848;
        }
        &.active {
          background: #424242;
        }
      }
    }
    .sidenavbar-top-menu-item {
      .search-div {
        .search {
          &:hover {
            background: #484848;
          }
          &.active {
            background: #424242;
          }
        }
      }
      ul {
        li {
          a {
            color: #fff;
            &:hover {
              background: #484848;
            }
            &.active {
              background: #424242;
            }
          }
        }
      }
    }
    .sidenavbar-middle-menu-item {
      ul {
        li {
          a {
            color: #fff;
            &:hover {
              background: #484848;
            }
            &.active {
              background: #424242;
            }
          }
        }
      }
    }
    .sidenavbar-bottom-switch {
      &:hover {
        background: #484848;
        cursor: pointer;
      }
      &.active {
        background: #424242;
      }
    }
  }
  .note-list {
    background: #393939;
    .empty-card {
      background: #3e3e3f;
      .icon {
        color: #8c8c8c;
      }
      &:hover {
        background: #5d5d5d;
        .icon {
          color: #9d9d9d;
        }
      }
    }
    .note-card {
      background: #4d4d4d;
      color: #fff;
      &:hover {
        background: #6a6a6a;
        cursor: pointer;
      }
      &.active {
        background: #6a6a6a;
      }
    }
  }
  .note {
    // background: #232323;
    background: #101010;
  }
  .note-body {
    background: #232323;
    textarea {
      background: #232323;
      caret-color: #f91;
      color: #afada7;
    }
  }
  .note-empty-content {
    .note-title {
      color: #fff;
    }
    .new-note-btn {
      color: #fff;
      &:hover {
        background: #484848;
      }
      &.active {
        background: #424242;
      }
    }
  }

  // 菜单栏
  .menu {
    color: #fff !important;
    background: #303030 !important;
    box-shadow: 3px 3px 2px #393939;
  }

  // 标题栏
  .nav-wrap {
    background: #333333;
    color: #fff;
    .hide-bar {
      &:hover {
        background: #333;
        color: #cccccc;
      }
    }
    .nav-list {
      .nav-li {
        color: #fff;
      }
    }
  }

  /*定义滑块 内阴影+圆角*/
  ::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
  }
}




